:root{
    --red:#ff2e63;
    --black:#252a24;
    --blue:#08d9d6;
    --white:#eaeaea;
}

body{
    background-color: aquamarine;
}

div.card>img{
    background-color: dimgray;
    padding: 0.4 rem;
}

#panel_desarrollo_web p{
    background-color: yellowgreen;
}

#panel_desarrollo_java p{
    background-color: yellowgreen;
}

#panel_base_de_datos p{
    background-color: yellowgreen;
}

button{
    background-color: blue;
}

form{
    position: absolute;
    background-color: rgba(255, 187, 0, 0.76);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/fondopagina.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20;
}

.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.img-header .welcome > button:hover{
    background: var(--blue);
}